[user]
	name = Alex Vasilenko
	email = aa.vasilenko@gmail.com
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ss = status -s
	svn-log = svn log --show-commit
    cdiff = diff --color
	permission-reset = "!git diff -p | grep -E \"^(diff|old mode|new mode)\" | sed -e \"s/^old/NEW/;s/^new/old/;s/^NEW/new/\" | git apply"
[core]
	excludesfile = /Users/mente/.gitignore
	quotepath = false
    editor=/usr/bin/vim
